.webmikorn
  margin-top 15px
  a
    border-bottom 1px dashed webmikornColor
    color webmikornColor
    font-size fontSize
    &:hover
      border-bottom 1px dashed webmikornColor
      color webmikornColor
