.button_bg_light
  background lightColor
  color darkColor
  transition-duration 0.35s
  &:active
    color darkColor
  &:focus
    color darkColor
  &:hover
    background darken(lightColor, changeColor)
    color darkColor
