.button_bg_theme
  background themeColor
  color darkColor
  transition-duration 0.35s
  &:active
    color darkColor
  &:focus
    color darkColor
  &:hover
    background darken(themeColor, changeColor)
    color darkColor
