.coast__subtitle
  color lightColor
  font-family titleFont
  font-size round(fontSize * 1.4)
  text-align center
  text-shadow 2px 2px 2px darkColor
  +min_screen(md)
    font-size round(fontSize * 1.6)
