extends ../layouts/common.pug

block content
  section.page
    .page__header
      h1.page__title
        | О компании
    .page__content
      p
        | Туристическое агентство &laquo;TURISTEKA.RU&raquo; &mdash;  Одно из самых клиентоориетируемых агентств в Московском регионе. Мы открыты с 2010 года для удовлетворения спроса туристов и путешественников желающих получить качественный отдых.
      p
        | Наши эксперты тщательно отобрали для вас самые лучшие отели по всему миру, надёжные авиакомпании, перелеты &laquo;чартерными&raquo; или &laquo;регулярными&raquo; рейсами. Для самых взыскательных клиентов мы организуем перелет на частном самолете, личный VIP трансфер, персональная физическая охрана, аренда яхт, судов, вертолетов.
      p
        | Для нас утверждение &laquo;качественный отдых&raquo; &mdash; это не просто слова, это большая работа наших профессионалов в туризме и отдыхе! Если вы предпочитаете отдых в роскошных отелях, вам комфортно находиться на лучших пляжах мира, для вас нет границ при выборе страны для своего следующего путешествия, при этом вы цените профессионализм, комфорт и безопасность.
      p
        | Отдых в крупном мегаполисе или вилла с личным пляжем, отдых в горах или медовый месяц на острове. Ваш отдых будет тщательно спланирован до мельчайших деталей!
      p
        | Наши специалисты готовы проконсультировать вас по вопросам организации отдыха в нашем уютном офисе или просто позвоните по телефону +7 (495) 136-60-16. В любом случае профессиональная консультация вам гарантирована
