extends ../layouts/default.pug

block content
  section.page
    .page__header
      h1.page__title
        | Page title
      .page__sibtitle
        | Page subtitle
    .page__content
      | Page content
    .page__footer
      | Page footer
