a
  color darkColor
  outline 0
  text-decoration none
  &:active
    color darkColor
    outline 0
    text-decoration none
  &:focus
    color darkColor
    outline 0
    text-decoration none
  &:hover
    color darkColor
    outline 0
    text-decoration none
  img
    border 0
article
	display block
aside
	display block
audio
	display inline-block
	vertical-align baseline
  &:not([controls])
    display none
    height 0
b
  font-weight 600
blockquote
  quotes none
  &:after
    content ''
    content none
  &:before
    content ''
    content none
button
	-webkit-appearance button
	cursor pointer
canvas
	display inline-block
	vertical-align baseline
caption
  font-weight normal
  text-align left
  vertical-align middle
code
  font-family monospace
details
	display block
dfn
  font-style italic
figcaption
	display block
figure
	display block
footer
	display block
em
  font-style italic
h1
  font-weight 400
  margin 0
h2
  font-weight 400
  margin 0
h3
  font-weight 400
  margin 0
h4
  font-weight 400
  margin 0
h5
  font-weight 400
  margin 0
h6
  font-weight 400
  margin 0
header
	display block
html
  height 100%
i
  font-style italic
img
  border 0
  max-width 100%
input[type='button']
	-webkit-appearance button
	cursor pointer
input[type='reset']
	-webkit-appearance button
	cursor pointer
input[type='submit']
	-webkit-appearance button
	cursor pointer
kbd
  font-family monospace
main
	display block
menu
	display block
nav
	display block
ol
  margin 0
  padding 0 0 0 20px
p
  margin 0 0 10px
pre
  font-family monospace
progress
	display inline-block
	vertical-align baseline
q
  quotes none
  &:after
    content ''
    content none
  &:before
    content ''
    content none
samp
  font-family monospace
section
	display block
strong
  font-weight 600
summary
	display block
table
	border-collapse collapse
td
  vertical-align middle
th
  vertical-align middle
ul
  margin 0
  padding 0 0 0 20px
video
	display inline-block
	vertical-align baseline
.aligncenter
	clear both
	display block
	margin 10px auto
.alignleft
	display inline
	float left
	margin 10px 10px 10px 0
.alignright
	display inline
	float right
	margin 10px 0 10px 10px
