// Fonts
baseFont = 'Roboto', sans-serif
titleFont = 'Roboto Condensed', sans-serif
fontSize = 16px
lineHeight = 1.5

// Colors
accentColor = #FF530D
addColor = #E8EA4D
changeColor = 20%
darkColor = #555555
greenColor = #6BFF68
lightColor = #FFFFFF
redColor = #D01908
themeColor = #195A8A
webmikornColor = #E8EA4D

// Height & width
headerHeight = 90px
siteMinWidth = 320px
siteMaxWidth = 1920px

// Breakpoints
xs = 481px
sm = 576px
md = 768px
lg = 992px
xl = 1200px
xxl = 1600px
navBreakPoint = md

// Overlays
darkOverlay = rgba(0, 0, 0, 0.35)
lightOverlay = rgba(255, 255, 255, 0.8)
themeOverlay = rgba(36, 30, 94, 0.8)
