.bottom-nav
  .bottom-nav__cell
    section.bottom-nav__one
      h3.bottom-nav__name
        | Полезная информация
      ul.bottom-nav__list
        li
          a(href='#')
            | Полезно знать
        li
          a(href='#')
            | Визы
        li
          a(href='#')
            | Страхование
        li
          a(href='#')
            | Туристический словарь
        li
          a(href='#')
            | Оплата услуг онлайн
        li
          a(href='#')
            | FAQ
        li
          a(href='#')
            | Акции
        li
          a(href='#')
            | Офисы продаж
        li
          a(href='#')
            | Проверить статус заказа
        li
          a(href='#')
            | Сайт для агентств
  .bottom-nav__cell
    section.bottom-nav__one
      h3.bottom-nav__name
        | О компании
      ul.bottom-nav__list
        li
          a(href='#')
            | О компании
        li
          a(href='#')
            | Контактная информация
        li
          a(href='#')
            | Преимущества
        li
          a(href='#')
            | Ответственность
        li
          a(href='#')
            | Новости
        li
          a(href='#')
            | Пресс-центр
        li
          a(href='#')
            | Вакансии
        li
          a(href='#')
            | Каталоги
  .bottom-nav__cell
    section.bottom-nav__one
      h3.bottom-nav__name
        | Продукты и услуги
      ul.bottom-nav__list
        li
          a(href='#')
            | Пляжные туры
        li
          a(href='#')
            | Экскурсионные туры
        li
          a(href='#')
            | Авиабилеты
        li
          a(href='#')
            | Чартерные авиабилеты
        li
          a(href='#')
            | Корпоративное обслуживание
        li
          a(href='#')
            | Круизы
        li
          a(href='#')
            | Индивидуальные туры
        li
          a(href='#')
            | Подарочные сертификаты
  .bottom-nav__cell
    .share
      // ---- Rambler.Likes script start ----
      .rambler-share
      script.
        (function() {
        var init = function() {
        RamblerShare.init('.rambler-share', {
        "style": {
        "buttonHeight": 33,
        "iconSize": 24,
        "buttonBackground": "#555"
        },
        "utm": "utm_medium=social",
        "counters": false,
        "buttons": [
        "vkontakte",
        "facebook",
        "odnoklassniki",
        "twitter",
        "pinterest"
        ]
        });
        };
        var script = document.createElement('script');
        script.onload = init;
        script.async = true;
        script.src = 'https://developers.rambler.ru/likes/v1/widget.js';
        document.head.appendChild(script);
        })();
      // ----   Rambler.Likes script end  ----
