head
  meta(http-equiv='content-type' content='text/html' charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Website title
  link(rel='stylesheet' href='javascript/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css')
  link(rel='stylesheet' href='javascript/responsive-tabs/css/responsive-tabs.css')
  link(rel='stylesheet' href='javascript/ui/ui-lightness/jquery-ui-1.9.2.custom.min.css')
  link(rel='stylesheet' href='stylesheet/stylesheet.css')
