header.site__header.header
  .header__top
    .header__group
      .header__logo
        include logo.pug
    .header__group
      .header__top-phone
        include top-phone.pug
      .header__callback
        button.callback.button.button_bg_accent.button_size_small(type='button')
          | Подобрать тур
