nav#top-nav.top-nav
  a.top-nav__link.top-nav__link_status_active(href='#')
    | Главная
  a.top-nav__link(href='#')
    | О компании
  a.top-nav__link(href='#')
    | Page title
  a.top-nav__link(href='#')
    | Page title
