.close
  color lightColor
  cursor pointer
  font-size round(fontSize * 2.5)
  height round(fontSize * 2.5)
  line-height round(fontSize * 2.5)
  position absolute
  text-align center
  width round(fontSize * 2.5)
