.lake__thumb
  height 240px
  margin auto
  max-width 450px
  position relative
  overflow hidden
  +min_screen(sm)
    height 300px
  +min_screen(md)
    height 240px
  +min_screen(lg)
    height 300px
  a
    img
      min-height 100%
      transition-duration 0.35s
      vertical-align middle
      width 100%
