.form__button
  background accentColor
  border 0
  color lightColor
  font-size round(fontSize * 1.1)
  padding 15px 15px
  transition-duration 0.35s
  &:hover
    background darken(accentColor, changeColor)
