.form__plus
  align-items center
  background themeColor
  border-radius 50%
  color lightColor
  display flex
  font_size(1.6)
  height 25px
  justify-content center
  text-align center
  width 25px
