.form__group
  align-items center
  background lightColor
  cursor pointer
  display inline-flex
  flex-direction column
  justify-content center
  margin-bottom 5px
  position relative
  
  +min_screen(md)
    margin 0 2px
    width 140px
  +min_screen(lg)
    margin 0 2px
    width 180px
