.rain
  display flex
  flex-direction column
  justify-content space-around
  background darkOverlay
  padding 40px 0
  +max_screen(sm)
    align-items center
  +min_screen(sm)
    flex-direction row
