section.country
  h2.country__title
    | Направления
  .country__content
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Грузия
    a.country__link(href='#')
      | Италия
    a.country__link(href='#')
      | Испания
    a.country__link(href='#')
      | Австрия
    a.country__link(href='#')
      | Германия
    a.country__link(href='#')
      | Китай
    a.country__link(href='#')
      | США
    a.country__link(href='#')
      | Мексика
    a.country__link(href='#')
      | Тунис
    a.country__link(href='#')
      | Египет
    a.country__link(href='#')
      | Тайланд
    a.country__link(href='#')
      | Франция
    a.country__link(href='#')
      | Кипр
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Грузия
    a.country__link(href='#')
      | Италия
    a.country__link(href='#')
      | Испания
    a.country__link(href='#')
      | Австрия
    a.country__link(href='#')
      | Германия
    a.country__link(href='#')
      | Китай
    a.country__link(href='#')
      | США
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Грузия
    a.country__link(href='#')
      | Италия
    a.country__link(href='#')
      | Испания
    a.country__link(href='#')
      | Австрия
    a.country__link(href='#')
      | Германия
    a.country__link(href='#')
      | Китай
    a.country__link(href='#')
      | США
    a.country__link(href='#')
      | Мексика
    a.country__link(href='#')
      | Тунис
    a.country__link(href='#')
      | Египет
    a.country__link(href='#')
      | Тайланд
    a.country__link(href='#')
      | Франция
    a.country__link(href='#')
      | Кипр
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Россия
    a.country__link(href='#')
      | Грузия
    a.country__link(href='#')
      | Италия
    a.country__link(href='#')
      | Испания
    a.country__link(href='#')
      | Австрия
    a.country__link(href='#')
      | Германия
    a.country__link(href='#')
      | Китай
    a.country__link(href='#')
      | США
