section.section
  .section__header
    h2.section__title.lake__title
      | Специальные предложения
  .section__content
    .lake
      .wrapper
        .lake__cell
          .lake__one
            .lake__thumb
              a(href='#')
                img(src='image/lake/lake_1.jpg')
            h3.lake__name
              a.lake__link(href='#')
                | Lorem ipsum dolor sit
            .like__price
              | от 13300р. на чел.
        .lake__cell
          .lake__one
            .lake__thumb
              a(href='#')
                img(src='image/lake/lake_2.jpg')
            h3.lake__name
              a.lake__link(href='#')
                | Lorem ipsum dolor sit
            .like__price
              | по запросу
        .lake__cell
          .lake__one
            .lake__thumb
              a(href='#')
                img(src='image/lake/lake_1.jpg')
            h3.lake__name
              a.lake__link(href='#')
                | Lorem ipsum dolor sit
            .like__price
              | от 13300р. на чел.
        .lake__cell
          .lake__one
            .lake__thumb
              a(href='#')
                img(src='image/lake/lake_2.jpg')
            h3.lake__name
              a.lake__link(href='#')
                | Lorem ipsum dolor sit
            .like__price
              | от 13300р. на чел.
        .lake__cell
          .lake__one
            .lake__thumb
              a(href='#')
                img(src='image/lake/lake_1.jpg')
            h3.lake__name
              a.lake__link(href='#')
                | Lorem ipsum dolor sit
            .like__price
              | от 13300р. на чел.
        .lake__cell
          .lake__one
            .lake__thumb
              a(href='#')
                img(src='image/lake/lake_2.jpg')
            h3.lake__name
              a.lake__link(href='#')
                | Lorem ipsum dolor sit
            .like__price
              | от 13300р. на чел.
  .section__footer
    .wrapper
      .button__group.text-center
        a.button.button_bg_accent.button_size_large(href='#')
          | Все предложения
