section.section
  .section__content
    .rain
      .wrapper
        .rain__cell
          .rain__one
            .rain__thumb
              i.fas.fa-search
            h3.rain__name
              | Самый удобный и быстрый онлайн-поиск путешествий
        .rain__cell
          .rain__one
            .rain__thumb
              i.fas.fa-globe
            h3.rain__name
              | Мы собрали огромную коллекцию удивительных путешествий
        .rain__cell
          .rain__one
            .rain__thumb
              i.far.fa-handshake
            h3.rain__name
              | Наши партнеры &mdash; это надежные туроператоры, лучшие отели и авиакомпании
        .rain__cell
          .rain__one
            .rain__thumb
              i.fas.fa-user-tie
            h3.rain__name
              | Персональный ассистент всегда на связи с клиентом до и после путешествий
