section.section
  .section__header
    h2.section__title
      | Section title
    .section__subtitle
      | Section subtitle
  .section__content
    | Section content
  .section__footer
    | Section footer
