.r-tabs-anchor
  color lightColor
  display inline-block
  font-family titleFont
  padding 0 2px
  text-transform uppercase
  &:hover
    color lightColor
  &:active
    color lightColor
  &:focus
    color lightColor
